.navigation-title-card {
    background-color: #faba05;
    border-radius: 15px;
  }
  
  .navigation-title-text {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }
  
  .icon-display {
    transform: scale(4.5);
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: revert;
    color: #00568d;
  }
  
  
  .input-control {
    border-radius: 10px;
    background-color: #FAAB1A;
    width: 45.0em;
    height: 4.5em;
    margin-left: 2.0em;
    font-size: 10px;
    outline: none;
  }
  
  .datapicker {
    width: 10.0em;
    margin-left: 2.0em;
  }
  .input-control-avanzado {
    border-radius: 10px;
    background-color: #ffffff;
    width: 55.0em;
    height: 3.0em;
    margin-left: 16.0em;
    padding-left: 1.0em;
    font-size: 10px;
    outline: none;
    border: 0;
  }
  .b1 {
    color: #00568d;
    border-color: #00568d;
    background: #ffffff;
    width: 10.5em;
    height: 3.0em;
    font-size: 0.9em;
    border-radius: 0.5em;
    margin-top: -1.2em;
    margin-left: -1.2em;
    margin-right: 1.2em;
  }
  
  .b2 {
    color: #000000;
    border-color: #000000;
    background: #ffffff;
    width: 10.5em;
    height: 3.0em;
    font-size: 0.9em;
    border-radius: 0.5em;
    margin-top: -1.2em;
    margin-left: -1.2em;
    margin-right: 1.2em;
  }
  
  .b3 {
    color: #ffffff;
    border-color: #00568d;
    background: #00568d;
    width: 10.5em;
    height: 3.0em;
    font-size: 0.9em;
    border-radius: 0.5em;
    margin-top: -2.2em;
    margin-left: -1.2em;
    margin-right: 1.2em;
  }
  
  .b4 {
    color: #ffffff;
    border-color: #0092BD;
    background: #0092BD;
    width: 10.5em;
    height: 3.0em;
    font-size: 0.9em;
    border-radius: 0.5em;
    margin-top: -2.2em;
    margin-left: -1.2em;
    margin-right: 1.2em;
  }
  
  .b5 {
    color: #266377;
    border-color: #FABA03;
    background: #FABA03;
    width: 10.5em;
    height: 3.2em;
    font-size: 0.9em;
    border-radius: 0.5em;
    margin-top: -2.2em;
    margin-left: -1.2em;
    margin-right: 1.2em;
  }
  
  .cabecera-tabla {
    border-radius: 10px;
    background-color: #00568d;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 2.0em;
    padding-bottom: 2.0em;
  }
  
  .rejilla {
    display: grid;
    grid-template-columns: 40% 45% 15%;
  }
  
  .color-icon-info{
    color: rgb(0, 86, 141);
  }
  
  .option-card-back {
    color: #00568d;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline #00568d;
    cursor: pointer;
  }
  
  .boton-with-info{
    background-color: #faba05;
    font-size: 8px;
    width: 25px;
    height: 25px;
    line-height: 20px;
    margin: 0px 10px;
  }
  
  .containerForm {
    box-sizing: content-box !important;
    font-weight: 500;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    margin-top: 1.0em;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.0em;
  }
  
  .mat-table {
    background: #f2f2f2;
  }
  
  .mat-paginator{
    background: #f2f2f2;
  }
  
  .paginado {
    font-size: 0.8em;
    margin-bottom: 0em;
    color: #00568d;
    border-bottom: 0.2em solid #faba05;
    margin-left: 25px;
  }

  .column-item-monto-asignado{
    font-size: 12px;
    color: #4A6572;
    font-weight: 400;
    padding: 2px;
    width: 10%;
    }
  
  .column-item-data-tipopresupuesto{
  font-size: 12px;
  color: #4A6572;
  font-weight: 400;
  padding: 4px;
  width: 10%;
  }

  .form-button-previo{
    background-color:  #ffffff;
    width: 250px;
    border-radius: 10px;
    border: 0.5px solid black;
  }

  .form-button-posterior{
    background-color:  #faba05;
    width: 250px;
    border-radius: 10px;
    color: #000000;
  }

  .div-centrado{
    display: flex;
    justify-content: center;
  }

  .tituloPanel {
    font-size: 1.2em;
    margin-bottom: 0em;
    color: #00568d;
    border-bottom: 0.2em solid #faba05;
    margin-left: 0px;
  }