$mat-osce-yellow: (
    50 : #fef7e1,
    100 : #feeab4,
    200 : #fddd82,
    300 : #fccf50,
    400 : #fbc42b,
    500 : #faba05,
    600 : #f9b304,
    700 : #f9ab04,
    800 : #f8a303,
    900 : #f69401,
    A100 : #ffffff,
    A200 : #fff5ea,
    A400 : #ffdfb7,
    A700 : #ffd39d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-osce-blue: (
    50 : #e0ebf1,
    100 : #b3ccdd,
    200 : #80abc6,
    300 : #4d89af,
    400 : #266f9e,
    500 : #00568d,
    600 : #004f85,
    700 : #00457a,
    800 : #003c70,
    900 : #002b5d,
    A100 : #8eb9ff,
    A200 : #5b99ff,
    A400 : #2879ff,
    A700 : #0e69ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-osce-red: (
  50 : #f8e5e6,
  100 : #ecbec0,
  200 : #e09396,
  300 : #d4686c,
  400 : #ca474d,
  500 : #c1272d,
  600 : #bb2328,
  700 : #b31d22,
  800 : #ab171c,
  900 : #9e0e11,
  A100 : #ffcdce,
  A200 : #ff9a9b,
  A400 : #ff6769,
  A700 : #ff4d50,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
