// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'palette.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$plantilla-primary: mat-palette($mat-osce-blue);
//$plantilla-accent: mat-palette($mat-orange, A200, A100, A400);
$plantilla-accent: mat-palette($mat-osce-yellow);

// The warn palette is optional (defaults to red).
$plantilla-warn: mat-palette($mat-osce-red);
//$plantilla-warn: mat-palette($mat-lime);

// Create the theme object (a Sass map containing all of the palettes).
$plantilla-theme: mat-light-theme($plantilla-primary, $plantilla-accent, $plantilla-warn);

// Dark theme
//$plantilla-theme: mat-dark-theme($plantilla-primary, $plantilla-accent, $plantilla-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($plantilla-theme);

// Alternate Angular Material Theme
.my-alternate-theme {
    $my-alternate-primary: mat-palette($mat-red);
    $my-alternate-accent: mat-palette($mat-green, 400);
    $my-alternate-warn: mat-palette($mat-grey);

    $my-alternate-theme: mat-light-theme($my-alternate-primary, $my-alternate-accent, $my-alternate-warn);

    @include angular-material-theme($my-alternate-theme);
  }
